# Environment variables
.env
.env.local
.env.*.local

# Dependency directories
node_modules/
jspm_packages/

# SQLite Databases & Journal files
prisma/*.db
prisma/*.db-journal
prisma/*.db-wal
prisma/*.db-shm
*.sqlite
*.sqlite3

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS & Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
